{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="forgotPasswordModal" class="modal">
    <div class="modal-content">
        <h2>Забыли пароль?</h2>
        <form id="forgotPasswordForm">
            <input type="email" placeholder="Почта" required>
            <input type="submit" value="ОТПРАВИТЬ ПИСЬМО">
        </form>
        <div class="option-link">
            <a href="#" id="backToLogin">Помните свой пароль? Войти</a>
        </div>
    </div>
</div>

<script src="{% static 'Profile/js/app.js' %}"></script>

</body>
</html>