<section id="gallery" class="gallery-section">
    <h2>Галерея</h2>
    <div class="gallery-grid">
        <div class="gallery-item">
            <img src="path_to_image_1.jpg" alt="Описание изображения 1">
        </div>
        <div class="gallery-item">
            <img src="path_to_image_2.jpg" alt="Описание изображения 2">
        </div>
        <div class="gallery-item">
            <img src="path_to_image_2.jpg" alt="Описание изображения 2">
        </div>
        <div class="gallery-item">
            <img src="path_to_image_2.jpg" alt="Описание изображения 2">
        </div>
        <div class="gallery-item">
            <img src="path_to_image_2.jpg" alt="Описание изображения 2">
        </div>
        <div class="gallery-item">
            <img src="path_to_image_2.jpg" alt="Описание изображения 2">
        </div>
        <div class="gallery-item">
            <img src="path_to_image_2.jpg" alt="Описание изображения 2">
        </div>
        <div class="gallery-item">
            <img src="path_to_image_2.jpg" alt="Описание изображения 2">
        </div>
        <div class="gallery-item">
            <img src="path_to_image_2.jpg" alt="Описание изображения 2">
        </div>
        <div class="gallery-item">
            <img src="path_to_image_2.jpg" alt="Описание изображения 2">
        </div>
        <div class="gallery-item">
            <img src="path_to_image_2.jpg" alt="Описание изображения 2">
        </div>
        <div class="gallery-item">
            <img src="path_to_image_2.jpg" alt="Описание изображения 2">
        </div>
        <div class="gallery-item">
            <img src="path_to_image_2.jpg" alt="Описание изображения 2">
        </div>
        <div class="gallery-item">
            <img src="path_to_image_2.jpg" alt="Описание изображения 2">
        </div>
        <div class="gallery-item">
            <img src="path_to_image_1.jpg" alt="Описание изображения 1">
        </div>
        <div class="gallery-item">
            <img src="path_to_image_2.jpg" alt="Описание изображения 2">
        </div>
        <div class="gallery-item">
            <img src="path_to_image_2.jpg" alt="Описание изображения 2">
        </div>
        <div class="gallery-item">
            <img src="path_to_image_2.jpg" alt="Описание изображения 2">
        </div>
        <div class="gallery-item">
            <img src="path_to_image_2.jpg" alt="Описание изображения 2">
        </div>
        <div class="gallery-item">
            <img src="path_to_image_2.jpg" alt="Описание изображения 2">
        </div>
        <div class="gallery-item">
            <img src="path_to_image_2.jpg" alt="Описание изображения 2">
        </div>
    </div>
</section>
