
            
            <div class="slider">
              <div class="slides" style="margin: auto">
                {% for slide in slides %}
                <div class="slide" id="slider-{{ forloop.counter }}"> <!-- Изменил id для соответствия с JavaScript -->
                    <div style="display: grid; justify-items: center">
                        <h2>{{ slide.title }}</h2>
                        <p>{{ slide.content }}</p>
                        {% if slide.image %}
                        <img src="{{ slide.image.url }}" alt="{{ slide.title }}" style="width:1000px;height: 310px;margin: 0 50px;">
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
              </div>
              <a class="prev" onclick="changeSlide('slider', -1)">❮</a>
              <a class="next" onclick="changeSlide('slider', 1)">❯</a>
            </div>

            
            <div style="display: flex;">
                
                <section class="information-block">
                  <h2>О Cyber Dream</h2>
                  <p>Добро пожаловать в мир Cyber Dream, виртуальное пространство для любителей киберпанка и футуристических игр. Мы предлагаем последние новости, обзоры и обсуждения о всех ваших любимых играх. Присоединяйтесь к нашему сообществу и делитесь своим опытом и идеями!</p>
                  <a href="#" class="learn-more-btn">Узнать больше</a>
                    
{#                    <section class="personal-recommendations">#}
{#                      <h2>Ваши Рекомендации</h2>#}
{#                      <div class="recommendations-container">#}
{#                        <!-- Сюда будут вставлены рекомендации через JavaScript -->#}
{#                      </div>#}
{#                    </section>#}

                </section>
                
                <div>
    
                    {% include 'main/latest-news.html' %}

                    
                    <iframe src="https://calendar.google.com/calendar/embed?height=250&wkst=2&bgcolor=%234285F4&ctz=Europe%2FMoscow&showTz=0&showPrint=0&showTitle=0&showTabs=0&showCalendars=0&src=Y3liZXJkcmVhbWUwQGdtYWlsLmNvbQ&color=%23039BE5" style="border:solid 1px #777" width="250" height="250" frameborder="0" scrolling="no"></iframe>
                    

                    
                </div>
                
            </div>
            

