<section id="publications" class="publications-section">
    <h2>Публикации</h2>
    <div class="publications-grid">
      {% for news in latest_news %}
          <article class="publication" style="display: grid; align-content: space-between;">
              <div>
                  {% if news.images.all %}
                      <!-- Проверка наличия изображения у новости -->
                      <a href="{% url 'page_news_detail' news_id=news.id %}">
                          <img src="{{ news.images.all.0.image.url }}" alt="{{ news.title }}">
                      </a>
                  {% else %}
                      <a href="{% url 'page_news_detail' news_id=news.id %}">
                          <img src="http://placehold.it/500x300" alt="No image available">
                      </a>
                  {% endif %}
                  <h3 style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; max-width: 202px;">{{ news.title }}</h3>
                  <p>{{ news.content|truncatewords:20 }}</p>
              </div>
              <div>
                  <div class="tags" style="width: 70px; padding: 5px; border-radius: 5px; background: darkred; color: aqua; margin-bottom: 10px;">
                      <!-- Предполагается, что у вас есть система тегов -->
                      {{ news.category.name }}
                  </div>
                  <a href="{% url 'page_news_detail' news_id=news.id %}" class="read-more" style="display: -webkit-box;">Читать полностью</a>
              </div>
          </article>
      {% endfor %}
    </div>

    <a href="{% url 'page_all_news' %}" class="news-button">Больше новостей</a>
    
</section>
