{% extends 'main/layout.html' %}


{% load static %}



{% block title %}Cyber Dreame{% endblock %}



{% block content %}
    
<div class="page page-news" >

    <div class="container" style="margin: 80px 0; display: flex;">
        
        <div class="category-sidebar">
            <div style="display: grid; position: fixed;">
                <div class="all-news-link">
                    <a href="{% url 'page_all_news' %}">Все новости</a>
                </div>
                <div class="category-list">
                    <li><a href="#news">Новости</a></li>
                    <li><a href="#reviews">Обзоры</a></li>
                    <li><a href="#results">Итоги</a></li>
                    <li><a href="#toolkit">Инструментарий</a></li>
                    <li><a href="#article">Статьи</a></li>
                </div>
            </div>
        </div>
        
        <div class="publishers" style="margin-left: 165px;">
            
            <section class="news anchor-offset" id="news">
                <h1 class="heading">Новости</h1>
                <main class="articles">
                    <!-- Category: News -->
                    <section id="news">
                      <!-- Основной контейнер для всех новостей -->
                        <div class="news-container">
                            <!-- Large news item with image and overlay -->
                            <div class="news-item large-news-item">
                                <img src="/static/Publishers/img/XI104H2rOlc.png" alt="News Title">
                                <div class="overlay">
                                    <h2>News Title fsenfkannfj efnkamnfjbhifjn afbnkmnfj akjvz knfnsbk njfkfbja jbahfnjsnfks bknjafbksbgf g ajfskbfgkanfj ksfbjsgksfgkan ksdfnksnr afbjahjkfnjvsbj bfaknf nhvb akfnam fjh afnbhakn </h2>
                                    <div class="overlay-tags">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                              
                            <!-- News item with image above text -->
                            <div class="news-item">
                                <img src="/static/Publishers/img/LNDsfhqldrv9c4LBnugXIQ.png" alt="News Title">
                                <div class="content-news">
                                    <h2 class="title-news">News Titlejfanjfa iafjkanjkf jsnfjsfkmk sjkgnskgbj afnskfnaknf fnkafnk</h2>
                                    <div class="category-tags">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="news-item">
                                <img src="path-to-image.jpg" alt="News Title">
                                <div class="content-news">
                                    <h2 class="title-news">News Title</h2>
                                    <div class="category-tags">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Single-column news item with just text -->
                            <div class="news-item single-column-news-item">
                                <div class="content-news">
                                    <h2 class="title-news">News Title fsnfkanfbjn akfnbjksnafjv kanrfkanf kaf afnkffakn </h2>
                                    <p>Extended news description... fadfnksnfk fsknf ksngksn kgnsk bnksng l knskgns knk gnks nk nksgn ksg nk s kngsknskgnkskdsdnfka k ksgnkwgnkfknbkwkf qbfaknfkjank afbknjfkesan</p>
                                    <div class="category-tags" style="bottom: -280px;">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="news-item single-column-news-item">
                                <div class="content-news">
                                    <h2 class="title-news">News Title</h2>
                                    <p>Extended news description...</p>
                                    <div class="category-tags" style="bottom: -280px;">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- News item with image above text -->
                            <div class="news-item">
                                <img src="path-to-image.jpg" alt="News Title">
                                <div class="content-news">
                                    <h2 class="title-news">News Title</h2>
                                    <div class="category-tags">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                
                            </div>
                              
                            
                              
                              <!-- Add more news items as needed -->
                        </div>
                        
                    </section>
                </main>
                
            </section>
            
            <section class="reviews anchor-offset" id="reviews">
                <h1 class="heading">Обзоры</h1>
                <main class="articles">
                    <!-- Category: Reviews -->
                    <section id="reviews">
                      <!-- Основной контейнер для всех новостей -->
                        <div class="news-container">
                            <!-- Large news item with image and overlay -->
                            <div class="news-item large-news-item">
                                <img src="/static/Publishers/img/XI104H2rOlc.png" alt="News Title">
                                <div class="overlay">
                                    <h2>News Title fsenfkannfj efnkamnfjbhifjn afbnkmnfj akjvz knfnsbk njfkfbja jbahfnjsnfks bknjafbksbgf g ajfskbfgkanfj ksfbjsgksfgkan ksdfnksnr afbjahjkfnjvsbj bfaknf nhvb akfnam fjh afnbhakn </h2>
                                    <div class="overlay-tags">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                              
                            <!-- News item with image above text -->
                            <div class="news-item">
                                <img src="/static/Publishers/img/LNDsfhqldrv9c4LBnugXIQ.png" alt="News Title">
                                <div class="content-news">
                                    <h2 class="title-news">News Titlejfanjfa iafjkanjkf jsnfjsfkmk sjkgnskgbj afnskfnaknf fnkafnk</h2>
                                    <div class="category-tags">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="news-item">
                                <img src="path-to-image.jpg" alt="News Title">
                                <div class="content-news">
                                    <h2 class="title-news">News Title</h2>
                                    <div class="category-tags">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Single-column news item with just text -->
                            <div class="news-item single-column-news-item">
                                <div class="content-news">
                                    <h2 class="title-news">News Title fsnfkanfbjn akfnbjksnafjv kanrfkanf kaf afnkffakn </h2>
                                    <p>Extended news description... fadfnksnfk fsknf ksngksn kgnsk bnksng l knskgns knk gnks nk nksgn ksg nk s kngsknskgnkskdsdnfka k ksgnkwgnkfknbkwkf qbfaknfkjank afbknjfkesan</p>
                                    <div class="category-tags" style="bottom: -280px;">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="news-item single-column-news-item">
                                <div class="content-news">
                                    <h2 class="title-news">News Title</h2>
                                    <p>Extended news description...</p>
                                    <div class="category-tags" style="bottom: -280px;">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- News item with image above text -->
                            <div class="news-item">
                                <img src="path-to-image.jpg" alt="News Title">
                                <div class="content-news">
                                    <h2 class="title-news">News Title</h2>
                                    <div class="category-tags">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                
                            </div>
                              
                            
                              
                              <!-- Add more news items as needed -->
                        </div>
                        
                    </section>
                </main>
            </section>
            
            <section class="results anchor-offset" id="results">
                <h1 class="heading">Итоги</h1>
                <main class="articles">
                    <!-- Category: Reviews -->
                    <section id="reviews">
                      <!-- Основной контейнер для всех новостей -->
                        <div class="news-container">
                            <!-- Large news item with image and overlay -->
                            <div class="news-item large-news-item">
                                <img src="/static/Publishers/img/XI104H2rOlc.png" alt="News Title">
                                <div class="overlay">
                                    <h2>News Title fsenfkannfj efnkamnfjbhifjn afbnkmnfj akjvz knfnsbk njfkfbja jbahfnjsnfks bknjafbksbgf g ajfskbfgkanfj ksfbjsgksfgkan ksdfnksnr afbjahjkfnjvsbj bfaknf nhvb akfnam fjh afnbhakn </h2>
                                    <div class="overlay-tags">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                              
                            <!-- News item with image above text -->
                            <div class="news-item">
                                <img src="/static/Publishers/img/LNDsfhqldrv9c4LBnugXIQ.png" alt="News Title">
                                <div class="content-news">
                                    <h2 class="title-news">News Titlejfanjfa iafjkanjkf jsnfjsfkmk sjkgnskgbj afnskfnaknf fnkafnk</h2>
                                    <div class="category-tags">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="news-item">
                                <img src="path-to-image.jpg" alt="News Title">
                                <div class="content-news">
                                    <h2 class="title-news">News Title</h2>
                                    <div class="category-tags">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Single-column news item with just text -->
                            <div class="news-item single-column-news-item">
                                <div class="content-news">
                                    <h2 class="title-news">News Title fsnfkanfbjn akfnbjksnafjv kanrfkanf kaf afnkffakn </h2>
                                    <p>Extended news description... fadfnksnfk fsknf ksngksn kgnsk bnksng l knskgns knk gnks nk nksgn ksg nk s kngsknskgnkskdsdnfka k ksgnkwgnkfknbkwkf qbfaknfkjank afbknjfkesan</p>
                                    <div class="category-tags" style="bottom: -280px;">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="news-item single-column-news-item">
                                <div class="content-news">
                                    <h2 class="title-news">News Title</h2>
                                    <p>Extended news description...</p>
                                    <div class="category-tags" style="bottom: -280px;">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- News item with image above text -->
                            <div class="news-item">
                                <img src="path-to-image.jpg" alt="News Title">
                                <div class="content-news">
                                    <h2 class="title-news">News Title</h2>
                                    <div class="category-tags">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                
                            </div>
                              
                            
                              
                              <!-- Add more news items as needed -->
                        </div>
                        
                    </section>
                </main>
            </section>
            
            <section class="toolkit anchor-offset" id="toolkit">
                <h1 class="heading">Инструментарий</h1>
                <main class="articles">
                    <!-- Category: Reviews -->
                    <section id="reviews">
                      <!-- Основной контейнер для всех новостей -->
                        <div class="news-container">
                            <!-- Large news item with image and overlay -->
                            <div class="news-item large-news-item">
                                <img src="/static/Publishers/img/XI104H2rOlc.png" alt="News Title">
                                <div class="overlay">
                                    <h2>News Title fsenfkannfj efnkamnfjbhifjn afbnkmnfj akjvz knfnsbk njfkfbja jbahfnjsnfks bknjafbksbgf g ajfskbfgkanfj ksfbjsgksfgkan ksdfnksnr afbjahjkfnjvsbj bfaknf nhvb akfnam fjh afnbhakn </h2>
                                    <div class="overlay-tags">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                              
                            <!-- News item with image above text -->
                            <div class="news-item">
                                <img src="/static/Publishers/img/LNDsfhqldrv9c4LBnugXIQ.png" alt="News Title">
                                <div class="content-news">
                                    <h2 class="title-news">News Titlejfanjfa iafjkanjkf jsnfjsfkmk sjkgnskgbj afnskfnaknf fnkafnk</h2>
                                    <div class="category-tags">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="news-item">
                                <img src="path-to-image.jpg" alt="News Title">
                                <div class="content-news">
                                    <h2 class="title-news">News Title</h2>
                                    <div class="category-tags">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Single-column news item with just text -->
                            <div class="news-item single-column-news-item">
                                <div class="content-news">
                                    <h2 class="title-news">News Title fsnfkanfbjn akfnbjksnafjv kanrfkanf kaf afnkffakn </h2>
                                    <p>Extended news description... fadfnksnfk fsknf ksngksn kgnsk bnksng l knskgns knk gnks nk nksgn ksg nk s kngsknskgnkskdsdnfka k ksgnkwgnkfknbkwkf qbfaknfkjank afbknjfkesan</p>
                                    <div class="category-tags" style="bottom: -280px;">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="news-item single-column-news-item">
                                <div class="content-news">
                                    <h2 class="title-news">News Title</h2>
                                    <p>Extended news description...</p>
                                    <div class="category-tags" style="bottom: -280px;">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- News item with image above text -->
                            <div class="news-item">
                                <img src="path-to-image.jpg" alt="News Title">
                                <div class="content-news">
                                    <h2 class="title-news">News Title</h2>
                                    <div class="category-tags">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                
                            </div>
                              
                            
                              
                              <!-- Add more news items as needed -->
                        </div>
                        
                    </section>
                </main>
            </section>
            
            <section class="article anchor-offset" id="article">
                <h1 class="heading">Статьи</h1>
                <main class="articles">
                    <!-- Category: Reviews -->
                    <section id="reviews">
                      <!-- Основной контейнер для всех новостей -->
                        <div class="news-container">
                            <!-- Large news item with image and overlay -->
                            <div class="news-item large-news-item">
                                <img src="/static/Publishers/img/XI104H2rOlc.png" alt="News Title">
                                <div class="overlay">
                                    <h2>News Title fsenfkannfj efnkamnfjbhifjn afbnkmnfj akjvz knfnsbk njfkfbja jbahfnjsnfks bknjafbksbgf g ajfskbfgkanfj ksfbjsgksfgkan ksdfnksnr afbjahjkfnjvsbj bfaknf nhvb akfnam fjh afnbhakn </h2>
                                    <div class="overlay-tags">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                              
                            <!-- News item with image above text -->
                            <div class="news-item">
                                <img src="/static/Publishers/img/LNDsfhqldrv9c4LBnugXIQ.png" alt="News Title">
                                <div class="content-news">
                                    <h2 class="title-news">News Titlejfanjfa iafjkanjkf jsnfjsfkmk sjkgnskgbj afnskfnaknf fnkafnk</h2>
                                    <div class="category-tags">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="news-item">
                                <img src="path-to-image.jpg" alt="News Title">
                                <div class="content-news">
                                    <h2 class="title-news">News Title</h2>
                                    <div class="category-tags">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Single-column news item with just text -->
                            <div class="news-item single-column-news-item">
                                <div class="content-news">
                                    <h2 class="title-news">News Title fsnfkanfbjn akfnbjksnafjv kanrfkanf kaf afnkffakn </h2>
                                    <p>Extended news description... fadfnksnfk fsknf ksngksn kgnsk bnksng l knskgns knk gnks nk nksgn ksg nk s kngsknskgnkskdsdnfka k ksgnkwgnkfknbkwkf qbfaknfkjank afbknjfkesan</p>
                                    <div class="category-tags" style="bottom: -280px;">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="news-item single-column-news-item">
                                <div class="content-news">
                                    <h2 class="title-news">News Title</h2>
                                    <p>Extended news description...</p>
                                    <div class="category-tags" style="bottom: -280px;">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- News item with image above text -->
                            <div class="news-item">
                                <img src="path-to-image.jpg" alt="News Title">
                                <div class="content-news">
                                    <h2 class="title-news">News Title</h2>
                                    <div class="category-tags">
                                        <span class="tags">Tag1</span>
                                        <span class="tags">Tag2</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                
                            </div>
                              
                            
                              
                              <!-- Add more news items as needed -->
                        </div>
                        
                    </section>
                </main>
            </section>
            
        </div>
        
    </div>

    

</div>



{% endblock %}